@import "~aos/dist/aos.css";
/* 
NOTE: USE IMPORTED FONTS AS FOLLOWS: 
font-family: 'Montserrat', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'Roboto', sans-serif; 
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Pathway+Gothic+One&family=Roboto:wght@400;700;900&display=swap");
