.bg-primary-gradient {
	background: $bg-blue-gradient;
}
.color-off-white {
	color: $font-off-white;
}

.input-opaque,
.input-opaque.form-control:focus {
	max-width: 400px;
	min-width: 400px;
	color: white;
	background-color: rgba(255, 255, 255, 0.1);

	&::-webkit-input-placeholder {
		color: white;
		opacity: 0.5;
	}

	@media (max-width: 576px) {
		max-width: 90vw;
		min-width: 90vw;
	}
}
